.header{
    /* height:70px; */
    width: 100vw;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
    box-shadow: 5px 5px 3px #fff;
    position: fixed;
    z-index: 1;
}
body{
    font-weight: 1.5rem;
}
input{
    border-radius:30px;
    border-color:1px solid;
    width: 500px;
    box-shadow: inset 2px 2px 3px gray;
    padding: 0.7em;
}
.ham{
    display: none;
}
.edu{
    color: blue;
    font-size:1.5rem;
    font-weight: bolder;
}
.mey{
    color:orangered;
    font-size: 2rem;
    font-weight: lighter;
}
.fa-solid{
    margin:15px;
    font-size: 1.5rem;
}
main{
    padding: 0rem 2rem;
}
.header>button{
    padding:10px;
    /* background-color: ; */
    text-decoration: none;
}
/* .section>h2,.section>span{
    /* padding: 1rem; */
.carousel-control-prev, .carousel-control-next{
    display: none;
}
.technologies{
    display:flex;
    gap:2rem;
    margin-top:2.5rem;
}
.button-container{
    display: flex;
    gap: 20px;
    background-color: #fff;
    overflow: scroll;
    padding: 1.2rem;
    scrollbar-width:none;
}
.button-container>span{
    font-size: 1rem;
    padding:1em 1.6em;
    border-radius: 40px;
    background-color: #eee;
    border-color:#eee;
    align-self: center;
    
}
.btn1{
    background-color: #000;
    color:#fff;
}
.courses{
    display: flex;
    gap: 2rem;
    overflow: scroll;
    scrollbar-width: none;
}
.webdev,.appdev,.iosdev,.androiddev,.javascript,.react,.python{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
}
.best{
    width: fit-content;
}
.app{
    width: 280px;
    height: 150px;
}
.ios,.android,.javascript,.react,.python{
    width: 300px;
}
.logos{
    display:flex;
    justify-content: space-around;
}
.logo{
    width: 60px;
    height: 60px;
}
.learners{
    display: flex;
    gap: 30px;
    overflow: scroll;
    scrollbar-width: none;
}
.image{
    width:600px;

}
.images{
    width: 70px;
    height: 70px;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}
.grid-sub{
    width:100%;
}
.grid2{
    width: 600px;
    height: 600px;
}
.box{
    display: grid;
    grid-template-columns: 20% 60%;
}
.accelerate,.accelerate1{
    display: flex;
    flex-direction: column;
}
.grid-container1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding: 10px;
}
.accelerate{
    border: 1px solid;
    box-shadow: inset 0px 7px rgb(187, 4, 187);
    border-radius: 20px;
}
.accelerate1{
    margin: 20px;
    padding: 10px;
}
.bi-check-circle{
    color: green;
    margin: 5px;
}
.accelerate1>span{
    padding: 5px;
}
.accelerate1>button{
    padding: 10px;
    margin: 10px 0px;
    background-color: #000;
    color:#fff;
    width:100%;
}
.acc-title{
    font-size: 12px;
}
.reviews{
    background-image: url(../Images/Carousels/Banner-2.jpg);
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center center;
    gap: 20px;
}
.reviewcard{
    background-color: #000;
    height: 300px;
    width: 22vw;
    color: #fff;
    padding: 1.2em;
}
.reviewcard>div{
    padding: 0.8em;
}
.trend{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trend>div{
    width: 25vw;
}
.trend1{
    width: 65vw;
    height: 700px;
}
/*Learning Focused on Your Goals*/
.test{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.test>section{
    width: 40vw;
}
.cards{
    border: 2px solid #000;
    border-left-color: blueviolet;
    border-left-width: 10px;
    padding: 1.3em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.containerImg{
    width: 70px;
    height: 70px;   
}
.data{
    display: flex;
    flex-direction: column;
}
.dataTitle{
    font-size: 1.2em;
    font-weight: 800;
}
.a{
    text-decoration:none;
    color: #000;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}
.a:hover{
    color: black;
}
iframe{
    width: 100%;
    height: 100%;

}
footer{
    background-color: #000;
    color:#fff;
}
.container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.container1>div{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.fsection-sub-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    place-items: center;
}
.fsection-container>span{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.2rem;
}
.fsection{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1.2em;
    width: 22vw;
}
.title{
    font-size: 1.1rem;
    font-weight: bold;
}
.fsection-l{
    display: flex;
    justify-content: space-around;
    align-items: center;
}











@media screen and (width<1200px){
    input{
        width:350px;
    }
    .teach{
        display: none;
    }
}
@media screen and (min-width:550px) and (max-width:650px){
    input{
        width:250px;
    }
    .plan{
        display: none;
    }
    .signup,.categories{
        display: none;
    }
}
/* 650-1000 */
@media screen and (max-width:550px){
    .ham,.search,#cart,.edu{
        display: block;
    }
    .categories,input,.plan,.business,.teach,#globe,.button,.signup,.button-container,.technologies,.grid-container{
        display: none;
    }
    .header{
        justify-content: space-around;
        align-items: center;
    }
    .carousel,.reviewcard1{
        display: none;
    }
    .trend{
        display: flex;
        flex-direction: column-reverse;
        width: 80vw;
    }
    .trend1{
        width: 280px;
        height: 300px;
    }
    .trend>div{
        width: 80vw;
        padding: 10px;
    }
    .reviews{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-content: center center;
    }
    .reviewcard{
        width: 80vw;
        place-content: center center;
    }
    .test{
        display: none;
    }
    .grid-container1{
        display: flex;
        flex-direction: column;
    }
    .accelerate{
        height: 200px;
        overflow: hidden;
    }
    .accelerate:hover{
        height:fit-content;
    }
    .logos{
        display: flex;
        flex-flow:row wrap;
        gap:10px;
    }
    .courses+button{
        font-size: 0.7em;
    }
    .courses,.learners{
        height: 300px;
    }
    
    /* Footer 550px*/
    .fsection-sub-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container1{
        display: flex;
        flex-direction: column;
    }
    .container1>div{
        width: 80vw;
        flex-flow: row wrap;
        height: 200px;
    }
    .container1>span{
        font-size: 1em;
    }
    .fimg{
        height: 100px;
        width: 70px;
    }
    .fsection{
         width: 80vw;
         height: 50px;
         overflow: hidden;
    }
    .fsection:hover{
        height:fit-content;
     }
    .fsection-container>span{
        font-size: 1em;
    }
    .fsection-l{
        display:flex;
        flex-direction: column-reverse;
        gap:10px;
    }
}